.link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: #97caca;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.layout {
  display: inline-block;
  width: 100%; 
}